<html>
<head>
    <title> Search Result </title>
    <style>
    body {
        background-image: url("https://p4.wallpaperbetter.com/wallpaper/715/830/515/simple-background-white-texture-white-background-web-design-wallpaper-preview.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        }
    table, tr,td {
        border: 2px solid black;
        border-collapse: collapse;
        padding: 4px;
        }
    td {
        font-size: 20px;
    }
    .head{
        font-weight: bold;
        font-size: 40px;
    }

    .subhead{
        color: #FFF;
        font-weight: bold;
        background-color: #AAA;

    }

    .subhead2{
        font-weight: bold;
        background-color: #DDD;
        height: 27px;
    }
    </style>

</head>

<body>
    <a href='/'> Go Back </a>
    <table width="100%">

        <tr>
            <td class="subhead" width="25%"> Category </td>
            <td class="subhead"width="25%"> ServiceNo </td>
            <td class="subhead"width="50%"> Operator </td>
        </tr>
        <tr>
            <td width="25%"> {{ ui.bus_services[0]['Category'] }} </td>
            <td width="25%"> {{ ui.bus_services[0]['ServiceNo'] }} </td> 
            <td width="50%"> {{ ui.bus_services[0]['Operator'] }} </td>
        </tr>
    </table>

    <br><br>

    <table width="100%">
        <tr>
            <td class="subhead" width="20%">Period</td>
            <td class="subhead2" width="20%">0600 - 0900</td>
            <td class="subhead2" width="20%">0901 - 1659</td>
            <td class="subhead2" width="20%">1700 - 1900</td>
            <td class="subhead2" width="20%">>After 1900</td>
        </tr>
        <tr>
            <td class="subhead" width="20%">Frequency<br> Direction 1  </td>
            <td width="20%"> {{ ui.bus_services[0]['AM_Peak_Freq'] }} minutes </td>
            <td width="20%"> {{ ui.bus_services[0]['AM_Offpeak_Freq'] }} minutes</td>
            <td width="20%"> {{ ui.bus_services[0]['PM_Peak_Freq'] }} minutes </td>
            <td width="20%"> {{ ui.bus_services[0]['PM_OffPeak_Freq'] }} minutes </td>
        </tr>
        {% if length == 2 %}
        <tr>
            <td class="subhead2"  width="20%"> <strong>Direction 2</strong> </td>
            <td> {{ ui.bus_services[1]['AM_Peak_Freq'] }} minutes </td>
            <td> {{ ui.bus_services[1]['AM_Offpeak_Freq'] }} minutes </td>
            <td> {{ ui.bus_services[1]['PM_Peak_Freq'] }} minutes </td>
            <td> {{ ui.bus_services[1]['PM_OffPeak_Freq'] }} minutes </td>
        </tr>
        {% endif%}
    </table>
    <br><br><br><br>

    {% if length == 2 %}
        <table width="100%">
            <tbody>
                <tr>
                    <td width="49%">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td class="subhead" width="100%" colspan="3">  DIRECTION 1 </td> 
                                </tr>
                                <tr padding="4px">
                                    <td  class="subhead2" width="12%"> Distance </td>
                                    <td class="subhead2" width="25%"> BusStopCode </td>
                                    <td class="subhead2" width="23%">Description </td>
                                </tr>
                                {% for row in ui.bus_routes %}
                                    {% if row['Direction'] == 1 %}
                                        <tr style="padding:10px;">
                                            <td> {{ row['Distance'] }} </td>
                                            <td> {{ row['BusStopCode'] }} </td>
                                            <td> {{ row['Description'] }} </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                <tr width="100%">
                                    <td style="text-align:center" colspan=3 >
                                    <form action="fare_info" method="post">
                                        <select name="start_bscode" size="1" >
                                            <option selected value= "-"> - Starting BusStopCode - </option>

                                            {% for row in ui.bus_routes %}
                                            {% if row['Direction'] == 1 %}
                                            <option value = "{{ row['BusStopCode']}}">
                                                {{ row['BusStopCode'] }} 
                                            </option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>

                                        <select name="end_bscode" size="1" >
                                            <option selected value= "-"> - Ending BusStopCode - </option>

                                            {% for row in ui.bus_routes %}
                                            {% if row['Direction'] == 1 %}
                                            <option value = "{{row['BusStopCode']}}">
                                                {{ row['BusStopCode'] }} 
                                            </option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>

                                        <input type="hidden" value="{{ui.bus_services[0]['ServiceNo']}}" name="serviceNo">
                                        <input type="hidden" value="1" name="Direction">
                                        <input type="submit" value="Calculate Fare 💸">
                                    </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="2%"> </td>
                    <td width="49%">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td class="subhead" width="100%" colspan="3">DIRECTION 2</td> 
                                </tr>
                                <tr>
                                    <td class="subhead2" width="12%"> Distance </td>
                                    <td class="subhead2" width="25%"> BusStopCode </td>
                                    <td class="subhead2" width="23%"> Description </td>
                                </tr>
                                {% for row in ui.bus_routes %}
                                    {% if row['Direction'] == 2 %}
                                        <tr>
                                            <td> {{ row['Distance'] }} </td>
                                            <td> {{ row['BusStopCode'] }} </td>
                                            <td> {{ row['Description'] }} </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr width="100%">
                                    <td style="text-align:center" colspan=3>
                                    <form action="fare_info" method="post">
                                        <select name="start_bscode" size="1" >
                                            <option selected value= "-"> - Starting BusStopCode - </option>

                                            {% for row in ui.bus_routes %}
                                            {% if row['Direction'] == 2 %}
                                            <option value = "{{row['BusStopCode']}}">
                                                {{ row['BusStopCode'] }} 
                                            </option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>

                                        <select name="end_bscode" size="1" >
                                            <option selected value= "-"> - Ending BusStopCode - </option>

                                            {% for row in ui.bus_routes %}
                                            {% if row['Direction'] == 2 %}
                                            <option value = "{{ row['BusStopCode']}}">
                                                {{ row['BusStopCode'] }} 
                                            </option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>

                                        <input type="hidden" value="{{ui.bus_services[0]['ServiceNo']}}" name="serviceNo">
                                        <input type="hidden" value="2" name="Direction">
                                        <input type="submit" value="Calculate Fare 💸">
                                    </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% if length == 1 %}
    <table>
        <tbody>
            <tr>
                <td class="subhead" colspan="3"> DIRECTION 1 </td> 
            </tr>
            <tr>
                <td class="subhead2" width="1%"> Distance </td>
                <td class="subhead2" width="5%"> BusStopCode </td>
                <td class="subhead2" width="23%"> Description </td>
            </tr>
            {% for row in ui.bus_routes %}
                {% if row['Direction'] == 1 %}
                    <tr>
                        <td> {{ row['Distance'] }} </td>
                        <td> {{ row['BusStopCode'] }} </td>
                        <td> {{ row['Description'] }} </td>
                    </tr>
                {% endif %}
            {% endfor %}
                    <tr width="100%">
                        <td style="text-align:center" colspan=3 >
                        <form action="fare_info" method="post">
                            <select name="start_bscode" size="1" >
                                <option selected value= "-"> - Starting BusStopCode - </option>

                                {% for row in ui.bus_routes %}
                                <option value = "{{row['BusStopCode']}}">
                                    {{ row['BusStopCode'] }} 
                                </option>
                                {% endfor %}
                            </select>

                            <select name="end_bscode" size="1" >
                                <option selected value= "-"> - Ending BusStopCode - </option>

                                {% for row in ui.bus_routes %}
                                <option value = "{{row['BusStopCode']}}">
                                    {{ row['BusStopCode'] }} 
                                </option>
                                {% endfor %}
                            </select>

                            <input type="hidden" value="{{ui.bus_services[0]['ServiceNo']}}" name="serviceNo">
                            <input type="hidden" value="1" name="Direction">
                            <input type="submit" value="Calculate Fare 💸">
                        </form>
                        </td>
                    </tr>
        </tbody>
    </table>
    {% endif %}
    
</body>
</html>